@import url("./reset.css");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 800px;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: 4px solid #333;
  border-radius: 4px;
}

.row {
  display: flex;
}

.square {
  flex: 1 0 auto;
  border: 0.5px solid #eee;
}

.square:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.btn {
  background-color: #ddd;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #eee;
}
